APP_ENV=development
APP_URL=http://localhost:3000
DATABASE_URL=postgres://continuous:continuous@localhost:5432/continuous
POSTGRES_DB=continuous
POSTGRES_USER=continuous
POSTGRES_PASSWORD=continuous
NEXT_TELEMETRY_DISABLED=1
